name: CI
on:
  push:
    branches: [main]
    paths:
      - '**.rs'
      - '**.toml'
  pull_request:
    paths:
      - '**.rs'
      - '**.toml'

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: arduino/setup-protoc@v3
      - run: rustup show
      - uses: Swatinem/rust-cache@v2
      - name: Check
        run: cargo check --all-targets
      - name: Format
        run: cargo fmt --all --check
      - name: Lint
        run: cargo clippy --no-deps -- -Dwarnings
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: arduino/setup-protoc@v3
      - run: rustup show
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build -v
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: arduino/setup-protoc@v3
      - run: rustup show
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test --all
